<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>
<body>
  <header>
    <h1>Todo<span>list</span> App</h1>
    <h2>Welcome to  my zuri todo app built with node</h2>
  </header>
  
  <section class="form">
    <input type="text" id="todoInput" placeholder="Schedule your plans...">
  </section>

  <ul class="list">
  </ul>

<script type="text/javascript" src="app.js"></script>
</body>